*,
*::before,
*::after{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


.container {
 border: 3px solid orange;
 border-radius: 5px ;
 display: grid;
 width: 50vw;
 margin: 0 auto;
}
.function-container {
 background-color: rgb(62, 59, 59);
 display: grid;
 grid-template-columns: 2fr 1fr;
}
.card-container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 1rem;
}

.card {
 border: 2px solid black;
}

li {
 list-style-type: none;
}